.App {
  text-align: center;
  border: 1px solid gray;
  width: 30rem;
  height: 16rem;
  margin: 5rem auto;
}
h1 {
  background-color: lightgreen;
  padding: 5px;
}

button {
  margin: 5px;
  font-size: 2rem;
  background-color: lightgreen;
  border: none;
  padding: 0 10px;
}
button:hover {
  background-color: rgb(116, 206, 116);
  box-shadow: 1px 1px green;
  cursor: pointer;
}

span {
  color: rgb(81, 155, 81);
  margin-left: 5px;
}
.footer {
  background-color: lightgreen;
  padding: 5px;
}
